# 5 a

In [2]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
df = pd.read_csv('gisette_train.txt', delimiter= '\s+', index_col=False,header=None)
df1 = pd.read_csv('gisette_valid.txt', delimiter= '\s+', index_col=False,header=None)
df2= pd.read_csv('gisette_train_label.txt', delimiter= '\s+', index_col=False,header=None)
df3 = pd.read_csv('gisette_valid_labels.txt', delimiter= '\s+', index_col=False,header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,550,0,495,0,0,0,0,976,0,0,...,0,0,0,991,991,0,0,0,0,983
1,0,0,0,0,0,0,0,976,0,0,...,0,475,0,991,0,0,991,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,742,0,0,0,0,684,0,956,...,0,0,0,0,0,0,674,0,0,838
4,0,0,0,0,0,0,0,608,0,979,...,991,0,0,828,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,0,0,0,0,0,0,0,0,0,0,...,991,0,0,0,0,0,783,0,0,0
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,921,0,886,0
5997,0,0,0,0,0,758,0,0,0,522,...,0,901,0,0,0,0,980,0,0,0
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,690,0,0,0,0,0
5999,0,0,991,0,0,0,0,0,0,0,...,0,0,0,288,0,0,972,0,0,991

In [4]:
df2

      0
0     1
1    -1
2     1
3     1
4     1
...  ..
5995 -1
5996  1
5997 -1
5998 -1
5999 -1

[6000 rows x 1 columns]

In [5]:
from sklearn import svm
from sklearn.metrics import accuracy_score
l_kernel = svm.SVC(kernel='linear')
clf=l_kernel.fit(df,df2)

In [6]:
predict=clf.predict(df)
acc=accuracy_score(df2,predict)
print("Train error using linear kernel ",1-acc)

Train error using linear kernel  0.0

In [7]:
predict=clf.predict(df1)
acc=accuracy_score(df3,predict)
print("Test error using linear kernel ",1-acc)

Test error using linear kernel  0.02400000000000002

In [8]:
print("Support vectors using linear kernel :",len(clf.support_vectors_))

Support vectors using linear kernel : 1084

# 5 b

RBF (a.k.a. Gaussian kernel; set γ = 0.001),

In [9]:
rbf_kernel=svm. SVC(  kernel='rbf',gamma=0.001)
rbf_clf=rbf_kernel.fit(df,df2)

In [10]:
predict=rbf_clf.predict(df)
acc=accuracy_score(df2,predict)
print("Train error using rbf kernel",1-acc)

Train error using rbf kernel 0.0

In [11]:
predict=rbf_clf.predict(df1)
acc=accuracy_score(df3,predict)
print("Test error using rbf kernel ",1-acc)

Test error using rbf kernel  0.5

In [12]:
print("Support vectors  using rbf kernel:",len(rbf_clf.support_vectors_))

Support vectors  using rbf kernel: 6000

Polynomial kernel (set degree =
2, coef0 = 1; 
).

In [13]:
poly_kernel=svm.SVC(kernel='poly',degree=2,coef0=1,gamma=1)
poly_clf=poly_kernel.fit(df,df2)

In [14]:
predict=poly_clf.predict(df)
acc=accuracy_score(df2,predict)
print("Train error using polynomial kernel",1-acc)

Train error using polynomial kernel 0.0

In [15]:
predict=poly_clf.predict(df1)
acc=accuracy_score(df3,predict)
print("Test error using polynomial kernel",1-acc)

Test error using polynomial kernel 0.02100000000000002

In [16]:
print("Support vectors using polynomial kernel :",len(poly_clf.support_vectors_))

Support vectors using polynomial kernel : 1755

FOR THREE KERNELS THE TRAINING ERROR IS MINIMUM EQUAL TO ZERO